<!DOCTYPE html>
<html>
<head>
  <title>Bienvenue sur la page daccueil</title>
</head>
<body>
<div class="card-container">
<% background_cards = ["pastel-blue", "pastel-pink", "pastel-green", "pastel-yellow", "pastel-orange", "pastel-purple"] %>
  <% @gossips.each do |gossip| %>
    <div class="card <%= background_cards.sample %>" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= link_to gossip.user.first_name, user_path(gossip.user) %></h5>
        <h6 class="card-subtitle mb-2 text-body-secondary"><%= gossip.title %></h6>
        <p>Voir le gossip : <%= link_to "ici", gossip_path(gossip) %></p>
      </div>
    </div>
  <% end %>
</div>
</body>
</html>