<!DOCTYPE html>
<html>
<head>
  <title>Bienvenue sur notre super Gossip Project, Oh Yeah !</title>
</head>
<body>
  <h1>BIENVENUE <%= @first_name %> !</h1>
  <p>Ici, c'est notre super site, pas mal, hein ?</p>
</body>
</html>